/*
 *
 * VARIABLES
 *
 */

// Colors
$color-red1: #db2d43;
$color-gray1: #343434;

// App Variables
$ui: 'mvc';
$body-bg-color: #fff;
$body-text-color: $color-gray1;
$header-bg-color: $color-red1;
$html-fontSize: 14;